<h2 mat-dialog-title>
    Update Note</h2>
<div mat-dialog-content>
    <form>
        <div class="mb-3">
            <label for="Name">Title:</label>
            <input [value]="currentNote.Title" #titolo type="text" placeholder="Enter Title" class="form-control">
        </div>
        <div class="mb-3">
            <label for="Surname">Description:</label>
            <input [value]="currentNote.Description" #descrizione type="text" placeholder="Enter Description" class="form-control">
        </div>
    </form>
</div>
<div mat-dialog-actions align="end">

    <button mat-button mat-dialog-close>Cancel</button>
    <button mat-button cdkFocusInitial (click)="updateNote(titolo.value,descrizione.value)">Update</button>
</div>